<%- include('partial/header') -%>
    <div class="card">
        <div class="home-content card-body">
            <h1>Home</h1>
            <p><%= homeContent %></p>
        </div>
    </div>
    
    <% posts.forEach((post)=> {%>
        <div class="card blog-post">
            <h2><%= post.newTitle %></h2>
            <p><%= post.newPost.substring(0,100) + "..." %><a href="/post/<%=post.newTitle%>"> Readmore </a></p>
        </div>
    <%});%>
    <a class="btn" href="/compose" role="button">New post!</a>
<%- include('partial/footer') -%>